@import "tailwindcss";

@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/JosefinSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Josefin Sans;
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/JosefinSans-Bold.woff2") format("woff2");
}

body {
    background-color: oklch(80.9% 0.105 251.813);
    font-family: "Josefin Sans";
}